/*
section#home{
    background-color: rgba(40, 115, 95, 0.35);
}
*/

section#contact {
    overflow: hidden;

    .content {
        .left {
            position: absolute;
            width: $section-content-left-width + 200px;
            height: 100%;
            flex-grow: 1;
            padding: 0 150px 0 0;

            h2 {
                height: 100px;
            }

            .text {
            }

            .email-link {
                z-index: $regular-item-z-index;
                position: absolute;
                bottom:0px;
                left:0px;
                font-size: 20px;
            }
        }
        .right {
            margin-left: $section-content-left-width + 200px;
            margin-top: 100px;
        }
    }


    form.contact {
        max-width: 350px;
        border: 0px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items : stretch;

        button {
            border: 1px solid $greenDark;
            background-color: $greenDark;
            color: white;
            padding: 5px 10px;
        }

        .row {
            position: relative;
            display: block;

            label {
                display: block;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 35px;
                font-weight: bold;
            }

            input, textarea {
                font-size: 14px;
                box-sizing: border-box;
                flex-grow: 1;
                width: 100%;
                border: 2px solid $greenDark;
                padding: 5px;
            }

            &.buttons {
                button {
                    float: right;
                }
            }
        }
    }
}
