/* leafs */
.leafs {
    position: absolute;
    z-index: 101;
    display: flex;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /*
    animation-name: leafMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    */

    img {
        height: 100%;
        width: auto;
    }

    &.home {
        width: auto;
        height: 100%;

        &.top {
            right: 0px;
            top: 0px;
        }
        &.bottom {
            right: 0px;
            bottom: 0px;
        }


    }

    &.design {
        &.left {
            left: 0px;
            top: 0px;
        }
    }

    &.contact {
        width: auto;
        height: 100%;

        &.bottom {
            bottom: 0px;

            &.right {
                right: 0px;
                bottom: -250px;
            }

            &.left {
                left: 0px;
            }
        }
    }
}

.leafs {
    &.left {
        transform: translate(-100%);
    }
    &.right {
        transform: translate(100%);
    }
}

.visible {
    .leafs {
        animation-name: returnToOrigin;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
}

#home.visible {
    &-r1{

    }
    &-r2{

    }
}

#design.visible {
    &-l1{

    }
}

#contact.visible {
    &-l1{

    }
    &-r1{

    }
}

@keyframes returnToOrigin {
    100%{
        transform: translate(0);
    }
}