@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content;
  }
  @-moz-keyframes #{$name} {
      @content;
  }
  @-ms-keyframes #{$name} {
      @content;
  }
  @keyframes #{$name} {
      @content;
  }
}

html,body {
    width: 100%;
    height:100%;
}
a {
    color:green;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
.pageContent {
    width:100%;
    height:100%;
    background-color: white;
    display: block;

    #welcome{
        display: table;
        width: 100%;
        height: 100%;
        .left {
            vertical-align: middle;
            display: table-cell;
            width: 50%;
        }

        .right {
            vertical-align: middle;
            display: table-cell;
            width: 50%;
        }
    }

    #offer{
        display: block;
        background-color: white;
        ul {
            list-style: none;
            padding:0px;
            text-align: center;

            li {
                position: relative;
                display: inline-block;
                margin: 5px;
                border: 1px solid green;
            }
            li h4{
                overflow: hidden;
                padding: 0px 5px;
                margin:0px 5px;
                margin-top:-2px;
                margin-bottom:-2px;
                border-top: 2px solid white;
                border-bottom: 2px solid white;
                background-color: white;
            }

            li:hover{
                animation-name: goGreen;
                animation-duration: 0.1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
            }
            li:hover h4{
                animation-name: expandGreen;
                animation-duration: 0.1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
            }
        }
    }
}


@keyframes goGreen{
    from{
        border: 1px solid green;
        color: black;
    }
    to{
        border: 1px solid black;
        color: green;
        margin-left:0px;
        margin-right:0px;
    }
}

@-webkit-keyframes goGreen{
    from{
        border: 1px solid green;
        color: black;
    }
    to{
        border: 1px solid black;
        color: green;
    }
}
@-moz-keyframes goGreen{
    from{
        border: 1px solid green;
        color: black;
    }
    to{
        border: 1px solid black;
        color: green;
        margin-left:0px;
        margin-right:0px;
    }
}

@-o-keyframes goGreen{
    from{
        border: 1px solid green;
        color: black;
    }
    to{
        border: 1px solid black;
        color: green;
    }
}


@keyframes expandGreen{
    to{
        padding-left:10px;
        padding-right:10px;
    }
}

@-webkit-keyframes expandGreen{
    to{
        padding-left:10px;
        padding-right:10px;
    }
}
@-moz-keyframes expandGreen{
    to{
        padding-left:10px;
        padding-right:10px;
    }
}

@-o-keyframes expandGreen{
    to{
        padding-left:10px;
        padding-right:10px;
    }
}

.green{
    color:green;
}

.label{
    padding: 0px 5px;
    font-weight: bold;
}
.label:after{
    
}



.randomDelay{
    span{
        opacity: 0;
        animation-name: easeInLetter;
        animation-duration: 1.0s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    $max : 30;
    @for $i from 1 through $max {
      span:nth-child(#{$i}){
        animation-delay: #{random(15)/10}s;
      }
    }
}

@include keyframes(easeInLetter) {
  /*100% { -webkit-transform: rotate(360deg);}*/
  form{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}